@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PSO</h1>
    <p>Learn more  about <a href="https://learn.microsoft.com/aspnet/core">india Oil.com</a>.</p>

    <p>further development will perform after approval</p>
</div>
<div class="text-center">
    <div class="card" style="width: 18rem;">
        <img src="./products/1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">RO Details</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="./products/8.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">RO Details</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
 